<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>定时任务管理</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div id="app">
    <h1>定时任务管理</h1>
    <button @click="setApiBaseUrl">设置 API 地址</button>

    <h2>可用任务</h2>
    <div id="available-tasks">
        <ul>
            <li v-for="task in availableTasks" :key="task.name" class="task-item">
                <h3>{{ task.name }}</h3>
                <p class="description">{{ formatDescription(task.description) }}</p>
                <div class="parameters" v-if="Object.keys(task.parameters).length > 0">
                    <h4>参数:</h4>
                    <ul>
                        <li v-for="(param, key) in task.parameters" :key="key">
                            <strong>{{ param.name }}:</strong>
                            <span v-if="param.type !== '未知'">类型: {{ param.type }}</span>
                            <span v-if="param.default !== ''">默认值: {{ param.default }}</span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <h2>{{ editingJob ? '修改任务' : '新建任务' }}</h2>
    <form @submit.prevent="editingJob ? updateJob() : createJob()">
        <label for="func">任务函数：</label>
        <select v-model="newJob.func" @change="fetchTaskParams" required>
            <option v-for="task in availableTasks" :value="task.name">{{ task.name }}</option>
        </select><br>

        <label for="trigger">触发器：</label>
        <select v-model="newJob.trigger" class="custom-select" @change="resetTriggerArgs" required>
            <option value="interval">周期性任务 interval</option>
            <option value="cron">特定时间周期 cron</option>
            <option value="date">特定日期 date</option>
        </select><br>

        <label for="job_id">任务ID：</label>
        <input v-model="newJob.job_id" placeholder="唯一的任务ID" required><br>

        <!-- Interval Trigger Fields -->
        <div v-if="newJob.trigger === 'interval'">
            <label for="seconds">秒：</label>
            <input v-model.number="newJob.trigger_args.seconds" type="number" min="0" placeholder="秒"><br>

            <label for="minutes">分钟：</label>
            <input v-model.number="newJob.trigger_args.minutes" type="number" min="0" placeholder="分钟"><br>

            <label for="hours">小时：</label>
            <input v-model.number="newJob.trigger_args.hours" type="number" min="0" placeholder="小时"><br>

            <label for="days">天：</label>
            <input v-model.number="newJob.trigger_args.days" type="number" min="0" placeholder="天"><br>

            <label for="weeks">周：</label>
            <input v-model.number="newJob.trigger_args.weeks" type="number" min="0" placeholder="周"><br>
        </div>

        <!-- Cron Trigger Fields -->
        <div v-if="newJob.trigger === 'cron'">
            <label for="second">秒：</label>
            <input v-model.number="newJob.trigger_args.second" type="number" min="0" max="59" placeholder="0-59"><br>

            <label for="minute">分钟：</label>
            <input v-model.number="newJob.trigger_args.minute" type="number" min="0" max="59" placeholder="0-59"><br>

            <label for="hour">小时：</label>
            <input v-model.number="newJob.trigger_args.hour" type="number" min="0" max="23" placeholder="0-23"><br>

            <label for="day">天：</label>
            <input v-model.number="newJob.trigger_args.day" type="number" min="1" max="31" placeholder="1-31"><br>

            <label for="month">月份：</label>
            <input v-model.number="newJob.trigger_args.month" type="number" min="1" max="12" placeholder="1-12"><br>

            <label for="day_of_week">星期几：</label>
            <input v-model.number="newJob.trigger_args.day_of_week" type="number" min="0" max="6"
                   placeholder="0-6 (0表示星期日)"><br>

            <label for="year">年份：</label>
            <input v-model.number="newJob.trigger_args.year" type="number" placeholder="可选"><br>
        </div>

        <!-- Date Trigger Fields -->
        <div v-if="newJob.trigger === 'date'">
            <label for="run_date_date">运行日期：</label>
            <input v-model="datePart" type="date" placeholder="YYYY-MM-DD"><br>

            <label for="run_date_time">运行时间：</label>
            <input v-model="timePart" type="time" step="1" placeholder="HH:MM:SS"><br>
        </div>


        <div v-if="Object.keys(taskParams).length > 0">
            <h3>任务函数参数</h3>
            <div v-for="(param, key) in taskParams" :key="key">
                <label :for="key">{{ param.name }} ({{ param.type }}):</label>
                <input :id="key" v-model="newJob.kwargs[key]" :type="param.type === 'int' ? 'number' : 'text'"
                       :placeholder="param.default || ''">

            </div>

        </div>

        <button type="submit">{{ editingJob ? '更新任务' : '创建任务' }}</button>
    </form>


    <h2>任务列表</h2>
    <div id="job-list">
        <table class="task-table">
            <thead>
            <tr>
                <th>任务 ID</th>
                <th>状态</th>
                <th>下次运行时间</th>
                <th>触发器类型</th>
                <th>任务函数</th>
                <th>参数</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="job in jobs" :key="job.id">
                <td>{{ job.id }}</td>
                <td>{{ job.status }}</td>
                <td>{{ job.next_run_time }}</td>
                <td>{{ job.trigger }}</td>
                <td>{{ job.func }}</td>
                <td>{{ formatJobArgs(job.args) + formatJobArgs(job.kwargs) }}</td>
                <td class="opt_btns">
                    <button @click="editJob(job)">编辑</button>
                    <button @click="pauseJob(job.id)">暂停</button>
                    <button @click="resumeJob(job.id)">恢复</button>
                    <button @click="deleteJob(job.id)">删除</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>
