:root {
    --primary-color: #26af56; /* 主色 */
    --primary-color-20: rgba(52, 219, 110, 0.2); /* 主色20% */
    --primary-color-hover: #29c561; /* 主色Hover */
    --secondary-color: #2ecc71; /* 次色 */
    --background-color: #f5f5f5; /* 背景色 */
    --text-color: #333; /* 文字色 */
    --border-color: #ccc; /* 边框色 */
    --hover-background-color: #ecf0f1; /* 悬停背景色 */
    --selected-background-color: #e0e0e0; /* 选中背景色 */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#app {
    max-width: 70%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

h1, h2 {
    color: #333;
}


.task-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.task-table th, .task-table td {
    padding: 12px;
    text-align: left;
}

.task-table th {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

.task-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.task-table tr:hover {
    background-color: #f1f1f1;
}

.task-table td {

    border-bottom: 1px solid #ddd;
}

.opt_btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

button {
    padding: 8px 12px;
    margin-right: 5px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-color-hover);
}

button:active {
    background-color: var(--primary-color-hover);
}

form {
    margin-bottom: 20px;
}

input, select, button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px var(--primary-color) solid;
}


#job-list ul, #available-tasks ul {
    list-style-type: none;
    padding: 0;
}

#job-list ul li, #available-tasks ul li {
    padding: 10px;
    border: 1px solid var(--primary-color);
    margin-bottom: 10px;
    background: var(--primary-color-20);
    border-radius: 10px;
}


select {
    display: inline-block;
    width: 100%;
    padding: 10px;
    /*font-size: 16px;*/
    /*line-height: 1.5;*/
    color: #333;
    background-color: #fff;
    background-image: none;
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:focus, select:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 8px var(--primary-color);
}

select::-ms-expand {
    display: none; /* Remove default arrow in IE */
}

select {
    background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="292.362" height="292.362" viewBox="0 0 292.362 292.362"><path fill="%23333" d="M287.817 69.245l-14.274-14.273c-3.609-3.607-7.902-5.412-12.847-5.412-4.945 0-9.236 1.805-12.847 5.412L146.179 166.518 44.518 54.972C40.909 51.365 36.616 49.56 31.671 49.56c-4.946 0-9.238 1.805-12.847 5.412L4.549 69.245C.95 72.854-.854 77.146-.854 82.092c0 4.945 1.805 9.236 5.412 12.847l123.671 123.67c3.607 3.607 7.896 5.412 12.847 5.412 4.948 0 9.239-1.805 12.847-5.412l123.671-123.67c3.608-3.611 5.412-7.902 5.412-12.847 0-4.946-1.804-9.238-5.411-12.847z"/></svg>') no-repeat right 10px center/12px;
}

select {
    padding-right: 40px; /* Make space for the background arrow */
}

.opt_btns button{
    margin: 5px 5px;
}